#############
## Idea
#############
target/
.idea/
.idea
.repository/
*.iml
*.iws
*.class
*.info
*.properties
*.jar
D:\Kirill\ProjectsStudy2022\JavaRushTasks\1.JavaSyntax\src\com\javarush\task\task01\sb2p2p3\Solution.java
D:\Kirill\ProjectsStudy2022\JavaRushTasks\1.JavaSyntax\src\com\javarush\task\task01\sb2p3p4\Solution.java
D:\Kirill\ProjectsStudy2022\JavaRushTasks\1.JavaSyntax\src\com\javarush\task\task01\sb2p2p1\Text

/5.OnlineInternship/
/out/
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
